In [8]:
import numpy as np
import pandas as pd

In [15]:
raw90_99=pd.read_csv('../data/external/resale-flat-prices-based-on-approval-date-1990-1999.csv')
raw00_12=pd.read_csv('../data/external/resale-flat-prices-based-on-approval-date-2000-feb-2012.csv')
raw15_16=pd.read_csv('../data/external/resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv')
raw17=pd.read_csv('../data/external/resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv')
raw12_14=pd.read_csv('../data/external/resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv')

In [16]:
raw90_99

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200
...,...,...,...,...,...,...,...,...,...,...
287195,1999-12,YISHUN,EXECUTIVE,611,YISHUN ST 61,10 TO 12,142.0,APARTMENT,1987,456000
287196,1999-12,YISHUN,EXECUTIVE,324,YISHUN CTRL,01 TO 03,142.0,APARTMENT,1988,408000
287197,1999-12,YISHUN,EXECUTIVE,392,YISHUN AVE 6,07 TO 09,146.0,MAISONETTE,1988,469000
287198,1999-12,YISHUN,EXECUTIVE,356,YISHUN RING RD,04 TO 06,146.0,MAISONETTE,1988,440000
287199,1999-12,YISHUN,EXECUTIVE,358,YISHUN RING RD,01 TO 03,145.0,MAISONETTE,1988,484000

In [17]:
raw00_12

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,2000-01,ANG MO KIO,3 ROOM,170,ANG MO KIO AVE 4,07 TO 09,69.0,Improved,1986,147000.0
1,2000-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,144000.0
2,2000-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,159000.0
3,2000-01,ANG MO KIO,3 ROOM,215,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,167000.0
4,2000-01,ANG MO KIO,3 ROOM,218,ANG MO KIO AVE 1,07 TO 09,67.0,New Generation,1976,163000.0
...,...,...,...,...,...,...,...,...,...,...
369646,2012-02,YISHUN,5 ROOM,212,YISHUN ST 21,10 TO 12,121.0,Improved,1985,476888.0
369647,2012-02,YISHUN,5 ROOM,758,YISHUN ST 72,01 TO 03,122.0,Improved,1986,490000.0
369648,2012-02,YISHUN,5 ROOM,873,YISHUN ST 81,01 TO 03,122.0,Improved,1988,488000.0
369649,2012-02,YISHUN,EXECUTIVE,664,YISHUN AVE 4,07 TO 09,181.0,Apartment,1992,705000.0
369650,2012-02,YISHUN,EXECUTIVE,293,YISHUN ST 22,04 TO 06,163.0,Apartment,1992,630000.0

In [18]:
raw15_16

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0
2,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0
3,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0
4,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0
...,...,...,...,...,...,...,...,...,...,...,...
37148,2016-12,YISHUN,5 ROOM,297,YISHUN ST 20,13 TO 15,112.0,Improved,2000,82,488000.0
37149,2016-12,YISHUN,5 ROOM,838,YISHUN ST 81,01 TO 03,122.0,Improved,1987,69,455000.0
37150,2016-12,YISHUN,EXECUTIVE,664,YISHUN AVE 4,10 TO 12,181.0,Apartment,1992,74,778000.0
37151,2016-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,01 TO 03,146.0,Maisonette,1988,70,575000.0
37152,2016-12,YISHUN,MULTI-GENERATION,666,YISHUN AVE 4,10 TO 12,164.0,Multi Generation,1987,70,735000.0

In [19]:
raw17

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0
...,...,...,...,...,...,...,...,...,...,...,...
90118,2021-01,YISHUN,EXECUTIVE,643,YISHUN ST 61,04 TO 06,146.0,Maisonette,1987,65 years 08 months,590000.0
90119,2021-01,YISHUN,EXECUTIVE,724,YISHUN ST 71,10 TO 12,146.0,Maisonette,1986,64 years 07 months,588000.0
90120,2021-01,YISHUN,EXECUTIVE,834,YISHUN ST 81,04 TO 06,142.0,Apartment,1988,66 years,670000.0
90121,2021-01,YISHUN,EXECUTIVE,877,YISHUN ST 81,07 TO 09,142.0,Apartment,1987,65 years 11 months,690000.0
90122,2021-01,YISHUN,MULTI-GENERATION,666,YISHUN AVE 4,10 TO 12,179.0,Multi Generation,1987,66 years,860000.0

In [20]:
raw12_14

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,2012-03,ANG MO KIO,2 ROOM,172,ANG MO KIO AVE 4,06 TO 10,45.0,Improved,1986,250000.0
1,2012-03,ANG MO KIO,2 ROOM,510,ANG MO KIO AVE 8,01 TO 05,44.0,Improved,1980,265000.0
2,2012-03,ANG MO KIO,3 ROOM,610,ANG MO KIO AVE 4,06 TO 10,68.0,New Generation,1980,315000.0
3,2012-03,ANG MO KIO,3 ROOM,474,ANG MO KIO AVE 10,01 TO 05,67.0,New Generation,1984,320000.0
4,2012-03,ANG MO KIO,3 ROOM,604,ANG MO KIO AVE 5,06 TO 10,67.0,New Generation,1980,321000.0
...,...,...,...,...,...,...,...,...,...,...
52198,2014-12,YISHUN,5 ROOM,816,YISHUN ST 81,10 TO 12,122.0,Improved,1988,580000.0
52199,2014-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,10 TO 12,146.0,Maisonette,1988,540000.0
52200,2014-12,YISHUN,EXECUTIVE,618,YISHUN RING RD,07 TO 09,164.0,Apartment,1992,738000.0
52201,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,152.0,Maisonette,1985,592000.0
52202,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,04 TO 06,146.0,Maisonette,1985,545000.0

In [31]:
def addresscreator(df):
    df['full_address'] = df['town'] + ', ' + df['street_name'] + ' Block Number ' + df['block'] + ' Singapore'
    df['full_address'] = df.full_address.str.title()
    return df

In [32]:
addresscreator(raw12_14)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,full_address
0,2012-03,ANG MO KIO,2 ROOM,172,ANG MO KIO AVE 4,06 TO 10,45.0,Improved,1986,250000.0,"Ang Mo Kio, Ang Mo Kio Ave 4 Block Number 172 ..."
1,2012-03,ANG MO KIO,2 ROOM,510,ANG MO KIO AVE 8,01 TO 05,44.0,Improved,1980,265000.0,"Ang Mo Kio, Ang Mo Kio Ave 8 Block Number 510 ..."
2,2012-03,ANG MO KIO,3 ROOM,610,ANG MO KIO AVE 4,06 TO 10,68.0,New Generation,1980,315000.0,"Ang Mo Kio, Ang Mo Kio Ave 4 Block Number 610 ..."
3,2012-03,ANG MO KIO,3 ROOM,474,ANG MO KIO AVE 10,01 TO 05,67.0,New Generation,1984,320000.0,"Ang Mo Kio, Ang Mo Kio Ave 10 Block Number 474..."
4,2012-03,ANG MO KIO,3 ROOM,604,ANG MO KIO AVE 5,06 TO 10,67.0,New Generation,1980,321000.0,"Ang Mo Kio, Ang Mo Kio Ave 5 Block Number 604 ..."
...,...,...,...,...,...,...,...,...,...,...,...
52198,2014-12,YISHUN,5 ROOM,816,YISHUN ST 81,10 TO 12,122.0,Improved,1988,580000.0,"Yishun, Yishun St 81 Block Number 816 Singapore"
52199,2014-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,10 TO 12,146.0,Maisonette,1988,540000.0,"Yishun, Yishun Ctrl Block Number 325 Singapore"
52200,2014-12,YISHUN,EXECUTIVE,618,YISHUN RING RD,07 TO 09,164.0,Apartment,1992,738000.0,"Yishun, Yishun Ring Rd Block Number 618 Singapore"
52201,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,152.0,Maisonette,1985,592000.0,"Yishun, Yishun St 22 Block Number 277 Singapore"
52202,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,04 TO 06,146.0,Maisonette,1985,545000.0,"Yishun, Yishun St 22 Block Number 277 Singapore"

In [33]:
raw12_14

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,full_address
0,2012-03,ANG MO KIO,2 ROOM,172,ANG MO KIO AVE 4,06 TO 10,45.0,Improved,1986,250000.0,"Ang Mo Kio, Ang Mo Kio Ave 4 Block Number 172 ..."
1,2012-03,ANG MO KIO,2 ROOM,510,ANG MO KIO AVE 8,01 TO 05,44.0,Improved,1980,265000.0,"Ang Mo Kio, Ang Mo Kio Ave 8 Block Number 510 ..."
2,2012-03,ANG MO KIO,3 ROOM,610,ANG MO KIO AVE 4,06 TO 10,68.0,New Generation,1980,315000.0,"Ang Mo Kio, Ang Mo Kio Ave 4 Block Number 610 ..."
3,2012-03,ANG MO KIO,3 ROOM,474,ANG MO KIO AVE 10,01 TO 05,67.0,New Generation,1984,320000.0,"Ang Mo Kio, Ang Mo Kio Ave 10 Block Number 474..."
4,2012-03,ANG MO KIO,3 ROOM,604,ANG MO KIO AVE 5,06 TO 10,67.0,New Generation,1980,321000.0,"Ang Mo Kio, Ang Mo Kio Ave 5 Block Number 604 ..."
...,...,...,...,...,...,...,...,...,...,...,...
52198,2014-12,YISHUN,5 ROOM,816,YISHUN ST 81,10 TO 12,122.0,Improved,1988,580000.0,"Yishun, Yishun St 81 Block Number 816 Singapore"
52199,2014-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,10 TO 12,146.0,Maisonette,1988,540000.0,"Yishun, Yishun Ctrl Block Number 325 Singapore"
52200,2014-12,YISHUN,EXECUTIVE,618,YISHUN RING RD,07 TO 09,164.0,Apartment,1992,738000.0,"Yishun, Yishun Ring Rd Block Number 618 Singapore"
52201,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,152.0,Maisonette,1985,592000.0,"Yishun, Yishun St 22 Block Number 277 Singapore"
52202,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,04 TO 06,146.0,Maisonette,1985,545000.0,"Yishun, Yishun St 22 Block Number 277 Singapore"

In [25]:
raw12_14.street_name.unique()

array(['ANG MO KIO AVE 4', 'ANG MO KIO AVE 8', 'ANG MO KIO AVE 10',
       'ANG MO KIO AVE 5', 'ANG MO KIO AVE 3', 'ANG MO KIO AVE 1',
       'ANG MO KIO AVE 9', 'ANG MO KIO AVE 6', 'ANG MO KIO ST 32',
       'ANG MO KIO ST 52', 'ANG MO KIO ST 21', 'ANG MO KIO ST 31',
       'BEDOK RESERVOIR RD', 'BEDOK NTH ST 3', 'BEDOK NTH RD',
       'CHAI CHEE RD', 'BEDOK STH AVE 1', 'BEDOK NTH ST 4',
       'BEDOK NTH ST 2', 'BEDOK STH RD', 'CHAI CHEE DR', 'CHAI CHEE AVE',
       'BEDOK NTH AVE 1', 'BEDOK STH AVE 3', 'NEW UPP CHANGI RD',
       'BEDOK NTH AVE 4', 'BEDOK NTH ST 1', 'BEDOK NTH AVE 3',
       'BEDOK NTH AVE 2', 'BEDOK STH AVE 2', 'CHAI CHEE ST',
       'BEDOK RESERVOIR VIEW', 'JLN TENAGA', 'JLN DAMAI', 'LENGKONG TIGA',
       'BEDOK CTRL', 'SIN MING AVE', 'BISHAN ST 11', 'BISHAN ST 12',
       'BISHAN ST 13', 'BISHAN ST 22', 'BISHAN ST 24', 'BISHAN ST 23',
       'SHUNFU RD', 'BT BATOK ST 52', 'BT BATOK WEST AVE 4',
       'BT BATOK WEST AVE 2', 'BT BATOK ST 31', 'BT BATOK ST 34',
       'BT BATOK EAST AVE 4', 'BT BATOK ST 32', 'BT BATOK WEST AVE 8',
       'BT BATOK EAST AVE 5', 'BT BATOK ST 51', 'BT BATOK WEST AVE 6',
       'BT BATOK ST 21', 'BT BATOK EAST AVE 3', 'BT BATOK ST 33',
       'BT BATOK ST 25', 'BT BATOK CTRL', 'BT BATOK ST 24',
       'BT BATOK WEST AVE 5', 'BT BATOK ST 22', 'TELOK BLANGAH DR',
       'JLN RUMAH TINGGI', 'TAMAN HO SWEE', 'TELOK BLANGAH CRES',
       'TELOK BLANGAH WAY', 'TELOK BLANGAH RISE', 'JLN BT MERAH',
       'BT PURMEI RD', 'HENDERSON CRES', 'TELOK BLANGAH HTS',
       'HAVELOCK RD', 'EVERTON PK', 'BT MERAH VIEW', 'JLN MEMBINA',
       'LENGKOK BAHRU', 'CANTONMENT CL', 'MOH GUAN TER', 'DEPOT RD',
       'DELTA AVE', 'HOY FATT RD', 'BOON TIONG RD', 'REDHILL LANE',
       'REDHILL RD', 'SPOTTISWOODE PK RD', 'KIM TIAN RD', 'KIM TIAN PL',
       'GANGSA RD', 'PENDING RD', 'PETIR RD', 'SEGAR RD',
       'BT PANJANG RING RD', 'JELAPANG RD', 'BANGKIT RD', 'SENJA RD',
       'LOMPANG RD', 'SENJA LINK', 'FAJAR RD', 'SAUJANA RD', 'JELEBU RD',
       'TOH YI DR', 'ROWELL RD', 'CHANDER RD', 'TG PAGAR PLAZA',
       'QUEEN ST', 'KLANG LANE', 'UPP CROSS ST', 'CHIN SWEE RD',
       'WATERLOO ST', 'BAIN ST', 'TECK WHYE LANE', 'TECK WHYE AVE',
       'CHOA CHU KANG AVE 4', 'CHOA CHU KANG CRES', 'CHOA CHU KANG AVE 3',
       'JLN TECK WHYE', 'CHOA CHU KANG AVE 5', 'CHOA CHU KANG ST 51',
       'CHOA CHU KANG AVE 2', 'CHOA CHU KANG CTRL', 'CHOA CHU KANG NTH 7',
       'CHOA CHU KANG AVE 1', 'CHOA CHU KANG ST 62',
       'CHOA CHU KANG NTH 5', 'CHOA CHU KANG ST 54',
       'CHOA CHU KANG ST 52', 'CHOA CHU KANG NTH 6', 'CHOA CHU KANG LOOP',
       'CLEMENTI AVE 5', 'WEST COAST RD', 'CLEMENTI WEST ST 2',
       'CLEMENTI WEST ST 1', 'WEST COAST DR', 'CLEMENTI AVE 4',
       'CLEMENTI AVE 2', 'CLEMENTI AVE 3', 'CLEMENTI ST 13',
       "C'WEALTH AVE WEST", 'CLEMENTI ST 14', 'BALAM RD', 'CIRCUIT RD',
       'PAYA LEBAR WAY', 'EUNOS CRES', 'UBI AVE 1', 'SIMS DR',
       'ALJUNIED CRES', 'HAIG RD', 'JLN DUA', 'SIMS PL', 'PINE CL',
       'CASSIA CRES', 'GEYLANG EAST AVE 1', 'JLN TIGA', 'HOUGANG AVE 8',
       'HOUGANG ST 22', 'HOUGANG AVE 1', 'HOUGANG AVE 7', 'HOUGANG AVE 5',
       'HOUGANG AVE 3', 'HOUGANG ST 61', 'HOUGANG AVE 4',
       'HOUGANG AVE 10', 'HOUGANG AVE 2', 'HOUGANG AVE 6',
       'HOUGANG ST 91', 'HOUGANG AVE 9', 'LOR AH SOO', 'BUANGKOK LINK',
       'BUANGKOK CRES', 'HOUGANG ST 51', 'HOUGANG ST 31', 'HOUGANG ST 52',
       'HOUGANG ST 21', 'JURONG EAST ST 24', 'JURONG EAST ST 32',
       'JURONG EAST AVE 1', 'TEBAN GDNS RD', 'JURONG EAST ST 21',
       'JURONG EAST ST 13', 'PANDAN GDNS', 'JURONG EAST ST 31',
       'TOH GUAN RD', 'JURONG WEST ST 93', 'BOON LAY AVE', 'BOON LAY PL',
       'JURONG WEST ST 41', 'HO CHING RD', 'JURONG WEST ST 42',
       'JURONG WEST ST 52', 'JURONG WEST AVE 1', 'JURONG WEST ST 91',
       'JURONG WEST ST 51', 'JURONG WEST ST 92', 'JURONG WEST ST 81',
       'JURONG WEST ST 73', 'JURONG WEST AVE 5', 'JURONG WEST AVE 3',
       'JURONG WEST ST 71', 'JURONG WEST ST 65', 'JURONG WEST ST 61',
       'BOON LAY DR', 'YUNG LOH RD', 'JURONG WEST ST 64',
       'JURONG WEST ST 74', 'KANG CHING RD', 'JURONG WEST ST 62',
       'JURONG WEST ST 24', 'CORPORATION DR', 'TAH CHING RD',
       'JURONG WEST ST 25', 'YUNG AN RD', 'JURONG WEST CTRL 1',
       'JURONG WEST ST 75', 'YUNG PING RD', 'YUNG HO RD', 'JLN BAHAGIA',
       'WHAMPOA DR', "ST. GEORGE'S RD", 'BENDEMEER RD', 'GEYLANG BAHRU',
       'LOR LIMAU', 'JLN BATU', 'KALLANG BAHRU', 'FRENCH RD',
       "KING GEORGE'S AVE", 'WHAMPOA WEST', "ST. GEORGE'S LANE",
       'JLN DUSUN', 'MCNAIR RD', 'KENT RD', 'JLN TENTERAM',
       'RACE COURSE RD', 'FARRER PK RD', 'BOON KENG RD',
       'UPP BOON KENG RD', 'JLN RAJAH', 'JELLICOE RD', 'MARINE DR',
       'MARINE TER', 'MARINE CRES', 'CHANGI VILLAGE RD',
       'PASIR RIS ST 21', 'PASIR RIS ST 12', 'PASIR RIS DR 6',
       'PASIR RIS ST 11', 'PASIR RIS ST 71', 'PASIR RIS ST 72',
       'PASIR RIS DR 4', 'PASIR RIS ST 51', 'PASIR RIS ST 52',
       'PASIR RIS DR 1', 'PASIR RIS ST 53', 'PASIR RIS ST 13',
       'PASIR RIS DR 3', 'ELIAS RD', 'EDGEDALE PLAINS', 'PUNGGOL FIELD',
       'EDGEFIELD PLAINS', 'PUNGGOL CTRL', 'PUNGGOL DR', 'PUNGGOL RD',
       'PUNGGOL FIELD WALK', 'TANGLIN HALT RD', "C'WEALTH CRES",
       "C'WEALTH DR", "C'WEALTH CL", 'HOLLAND DR', 'STIRLING RD',
       'DOVER CRES', 'HOLLAND CL', 'MEI LING ST', 'GHIM MOH RD',
       "QUEEN'S CL", 'HOLLAND AVE', 'STRATHMORE AVE', 'CLARENCE LANE',
       'SEMBAWANG DR', 'ADMIRALTY LINK', 'SEMBAWANG CRES', 'ADMIRALTY DR',
       'MONTREAL DR', 'WELLINGTON CIRCLE', 'CANBERRA RD', 'SEMBAWANG CL',
       'SEMBAWANG VISTA', 'RIVERVALE DR', 'RIVERVALE CRES',
       'RIVERVALE ST', 'COMPASSVALE ST', 'ANCHORVALE LINK',
       'RIVERVALE WALK', 'COMPASSVALE DR', 'ANCHORVALE LANE',
       'COMPASSVALE RD', 'ANCHORVALE RD', 'COMPASSVALE WALK',
       'COMPASSVALE LANE', 'FERNVALE LINK', 'FERNVALE RD',
       'FERNVALE LANE', 'COMPASSVALE BOW', 'SENGKANG EAST WAY',
       'COMPASSVALE LINK', 'ANCHORVALE DR', 'SENGKANG EAST RD',
       'LOR LEW LIAN', 'SERANGOON NTH AVE 1', 'SERANGOON AVE 4',
       'SERANGOON CTRL', 'SERANGOON NTH AVE 3', 'SERANGOON NTH AVE 4',
       'SERANGOON AVE 3', 'SERANGOON AVE 2', 'SERANGOON AVE 1',
       'SERANGOON CTRL DR', 'TAMPINES ST 21', 'TAMPINES ST 41',
       'TAMPINES ST 81', 'TAMPINES ST 42', 'TAMPINES ST 43',
       'TAMPINES ST 23', 'TAMPINES ST 83', 'TAMPINES AVE 4',
       'TAMPINES ST 22', 'TAMPINES ST 84', 'TAMPINES ST 11',
       'TAMPINES ST 82', 'TAMPINES ST 44', 'TAMPINES ST 34',
       'TAMPINES ST 33', 'SIMEI ST 1', 'TAMPINES ST 45', 'TAMPINES ST 91',
       'TAMPINES AVE 8', 'TAMPINES ST 72', 'TAMPINES ST 71',
       'TAMPINES ST 32', 'SIMEI RD', 'TAMPINES ST 12', 'TAMPINES AVE 9',
       'TAMPINES CTRL 1', 'TAMPINES ST 24', 'TAMPINES AVE 7',
       'TAMPINES AVE 5', 'SIMEI ST 4', 'LOR 5 TOA PAYOH',
       'UPP ALJUNIED LANE', 'KIM KEAT AVE', 'LOR 6 TOA PAYOH',
       'POTONG PASIR AVE 1', 'LOR 7 TOA PAYOH', 'LOR 8 TOA PAYOH',
       'LOR 4 TOA PAYOH', 'TOA PAYOH EAST', 'LOR 1 TOA PAYOH',
       'TOA PAYOH NTH', 'LOR 2 TOA PAYOH', 'POTONG PASIR AVE 2',
       'JOO SENG RD', 'TOA PAYOH CTRL', 'KIM KEAT LINK', 'MARSILING LANE',
       'MARSILING DR', 'MARSILING RISE', 'MARSILING CRES',
       'WOODLANDS ST 13', 'WOODLANDS ST 82', 'WOODLANDS ST 31',
       'WOODLANDS ST 83', 'WOODLANDS DR 16', 'WOODLANDS ST 41',
       'WOODLANDS CRES', 'WOODLANDS AVE 1', 'WOODLANDS AVE 3',
       'WOODLANDS ST 11', 'WOODLANDS ST 32', 'WOODLANDS DR 14',
       'WOODLANDS DR 52', 'WOODLANDS CIRCLE', 'WOODLANDS AVE 4',
       'WOODLANDS DR 53', 'WOODLANDS DR 60', 'WOODLANDS RING RD',
       'WOODLANDS DR 40', 'WOODLANDS AVE 6', 'WOODLANDS DR 70',
       'WOODLANDS DR 44', 'MARSILING RD', 'WOODLANDS DR 75',
       'WOODLANDS DR 50', 'WOODLANDS DR 62', 'WOODLANDS AVE 9',
       'WOODLANDS DR 73', 'WOODLANDS ST 81', 'WOODLANDS DR 71',
       'WOODLANDS DR 42', 'YISHUN ST 22', 'YISHUN RING RD',
       'YISHUN ST 11', 'YISHUN ST 61', 'YISHUN AVE 6', 'YISHUN ST 21',
       'YISHUN CTRL', 'YISHUN ST 72', 'YISHUN AVE 5', 'YISHUN ST 71',
       'YISHUN AVE 11', 'YISHUN AVE 4', 'YISHUN AVE 9', 'YISHUN ST 81',
       'YISHUN AVE 7', 'YISHUN AVE 2', 'YISHUN AVE 3', 'YISHUN ST 20',
       'SIN MING RD', 'BRIGHT HILL DR', 'BT BATOK ST 11',
       'JLN BT HO SWEE', 'JLN KLINIK', 'BEO CRES', 'LIM LIAK ST',
       'REDHILL CL', 'ZION RD', 'JLN KUKOH', 'BUFFALO RD',
       'CHOA CHU KANG ST 53', 'CHOA CHU KANG DR', 'CHOA CHU KANG ST 64',
       'CLEMENTI AVE 6', 'OLD AIRPORT RD', 'JOO CHIAT RD', 'EUNOS RD 5',
       'DAKOTA CRES', 'HOUGANG ST 11', 'HOUGANG ST 92', 'YUAN CHING RD',
       'TAO CHING RD', 'JURONG WEST ST 72', 'OWEN RD', 'BEACH RD',
       'GLOUCESTER RD', 'CAMBRIDGE RD', 'LOR 3 GEYLANG', 'TOWNER RD',
       'AH HOOD RD', 'PASIR RIS DR 10', 'PASIR RIS ST 41', "C'WEALTH AVE",
       'DOVER CL EAST', 'CANBERRA LINK', 'COMPASSVALE CRES',
       'SENGKANG CTRL', 'SIMEI ST 2', 'POTONG PASIR AVE 3',
       'WOODLANDS CTR RD', 'WOODLANDS AVE 5', 'BT BATOK WEST AVE 7',
       'LOWER DELTA RD', 'INDUS RD', 'CASHEW RD', "QUEEN'S RD",
       'FARRER RD', 'VEERASAMY RD', 'SELEGIE RD', 'SAGO LANE',
       'KELANTAN RD', 'SMITH ST', 'PIPIT RD', 'SIMS AVE', 'HOUGANG CTRL',
       'YUNG SHENG RD', 'NTH BRIDGE RD', 'TESSENSOHN RD', 'MOULMEIN RD',
       'WHAMPOA RD', 'LOR 3 TOA PAYOH', 'WOODLANDS DR 72',
       'YISHUN CTRL 1', 'JLN BERSEH', 'KRETA AYER RD', 'MACPHERSON LANE',
       'GEYLANG EAST CTRL', 'DORSET RD', 'CRAWFORD LANE', "JLN MA'MOR",
       'DOVER RD', 'SIMEI ST 5', 'TIONG BAHRU RD', 'KIM CHENG ST',
       'CLEMENTI ST 11', 'PUNGGOL EAST', 'SERANGOON NTH AVE 2',
       'ANG MO KIO ST 11', 'WHAMPOA STH', 'QUEENSWAY', 'EMPRESS RD',
       'SILAT AVE', 'NEW MKT RD', 'CLEMENTI ST 12', 'KG KAYU RD',
       'MARINE PARADE CTRL', 'SENG POH RD', 'BT MERAH CTRL',
       'ANG MO KIO AVE 2', 'UPP SERANGOON RD', 'KG ARANG RD',
       'ALJUNIED RD', 'KIM PONG RD', 'BT MERAH LANE 1', 'TAMPINES CTRL 7',
       'SENGKANG WEST AVE', 'PUNGGOL PL', 'CANTONMENT RD'], dtype=object)